body {
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
}
header {
    background-color: #005B93;
    color: #fff;
    padding: 20px;
    font-family: Roboto, sans-serif;
}
h1 {
    font-size: 2em;
    font-family: Roboto, sans-serif;
}

h3 {
    font-size: 1em;
    font-family: Roboto, sans-serif;
}

.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    text-align: center;
    font-family: Roboto, sans-serif;
}

.avatar {
    max-width: 50%;
    border-radius: 50%;
}

.contact-information {
    text-align: right;
}

.social-media-icon {
    width: 50px;
}
