body {
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
}

header {
    background-color: #005B93;
    color: #fff;
    padding: 20px;
    font-family: Roboto, sans-serif;
}

h1 {
    font-size: 2em;
    font-family: Roboto, sans-serif;
}

h3 {
    font-size: 1em;
    font-family: Roboto, sans-serif;
}

.title-section {
    text-align: center;
    margin-top: 20px;
}

.avatar {
    max-width: 150px;
    border-radius: 50%;
}

.contact-information {
    text-align: right;
}

.social-media-icon {
    width: 50px;
}

.card {
    margin: 0 5px;
}

.card-icon {
    width: 30px;  
}     