.icon {
  display: block;
  padding-bottom: 5px;
  margin-bottom: 5px;
}

.link {
  display: inline-block;
}

.button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  display: inline-block;
}
